.member {
	width: 100%;
	padding: 50px 25px;
	background-color: $white;
	&-photo {
		width: 190px;
		height: 190px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	&-name {
		font-weight: 400;
		font-size: 1.5rem;
		text-align: center;
	}
	&-job {
		font-weight: 300;
		text-align: center;
		margin-bottom: 40px;
	}
}
.social-list {
	display: flex;
	justify-content: center;
	&-circle {
		transition: 0.3s;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: $gray-400;
		margin: 0px 4px;
		&:hover {
			background-color: $primary;
		}
		& i {
			display: block;
			color: $white;
		}
	}
}

@media only screen and (max-width: 991px) {
	.member {
		margin-bottom: 30px;
	}
}