.section-about__logo {
	max-width: 230px;
	width: 100%;
	margin: 0 auto;
	& img {
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 767px) {
	.section-about__logo {
		margin-bottom: 20px;
	}
}