p {
	margin-bottom: $paragraph-margin-bottom;
}

.text-block {
	p:last-child {
		margin-bottom: 0;
	}
}

h2, .h2, h3, .h3 {
	font-weight: 700;
}
h2, .h2 {
	font-size: 100px;
}

h3, .h3 {
	font-size: 70px;
}

h4, .h4 {

}

h5, .h5 {

}

h6, .h6 {
	opacity: 0.8;
}
.-opacity {
	opacity: 1;
}