h1, h2 {
	text-transform: uppercase;
}

// MAIN TITLE OF THE SITE
.main-title {
	font-family: 'Vani';
	margin-bottom: 70px;
	font-weight: 700;
	color: $white;
	& span {
		color: $primary;
	}
}

// SECTION TITLE
.section-title {
	font-family: 'Vani';
	text-align: center;
	margin-bottom: 10px;
	z-index: 10;
	position: relative;
}

// PAGE TITLE
.footer-title {
	font-family: 'Vani';
	font-weight: 700;
	color: $primary;
	text-transform: uppercase;
	margin-bottom: 50px;	
}

.text-subscribe {
	text-align: left;
}

.footer-title-instagram {
	text-align: right;
}

// First header
.contact-text {
	font-size: 1rem;
	font-weight: 700;
}
// First header END

.advantages-title {
	font-weight: 700;
	font-size: 1.25rem;
	color: $white;
	text-transform: uppercase;
	text-align: center;
}

.count-up-item {
	text-align: center;
	font-family: 'Vani';
	font-weight: 700;
	font-size: 3.75rem;
	color: $primary;
}

.news {
	margin-bottom: 20px;	
}

.news-title {
	margin-bottom: 20px;	
}
// -----------------------------------------

@media only screen and (max-width: 1199px) {
	.main-title {
		font-size: 2.5rem;
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 991px) {
	.main-title {
		font-size: 2.2rem;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 1.7rem;
	}
	.text-subscribe, .footer-title-instagram {
		text-align: center;
	} 
}
@media only screen and (max-width: 767px) {
	.main-title {
		font-size: 2rem;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 1.7rem;
	}
}
@media only screen and (max-width: 575px) {
	.main-title {
		font-size: 1.7rem;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 1.7rem;
	}
	.count-up-item {
		font-size: 3rem;

	}
}
